<body>
<div class="formulario">
    <h2>Iniciar Sesion</h2>
    <form method="post">
        <div class="nombre">
             <input type="text" required placeholder="Nombre">
             <label>Nombre</label>
        </div>
        <div class="contrasena">
            <input type="password" required placeholder="Contraseña">
            <label>Contraseña</label>
        </div>
        <div class="contrasena_p">
        <a routerLink="/contra">¿Olvido su contraseña?</a>
        </div>

        <button (click)="iniciarSesion()">Ingresar</button>
        <div class="registrarse">
            <a routerLink="/registro">Crear Cuenta</a> <!-- se enlazan las paginas/componentes-->
        </div>
    </form>
        
</div>
</body> 
