body {
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: rgb(0, 70, 67);
	height: 100vh;
}

.formulario{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
  height: 440px;
	background: #f9bc60;
	border-radius: 10px;


}

.formulario h2{
	text-align: center;
	padding: 10px 10px 10px 0;
  border-bottom: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}


.formulario form{
	padding: 0 40px;
	box-sizing: border-box;
}

form .nombre{
	position: relative;
	border-bottom: 2px solid rgb(0, 70, 67);
	margin: 30px 0; 
}

form .contrasena{
	position: relative;
	border-bottom: 2px solid rgb(0, 70, 67);
	margin: 30px 0; 
}

.nombre input{
	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;

}

.contrasena input{
	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;

}

.nombre label{
	position: absolute;
	top: 50%;
	left: 5px;
	color: grey;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
}

.contrasena label{
	position: absolute;
	top: 50%;
	left: 5px;
	color: rgb(119, 119, 119);
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
}


.nombre input:focus ~ label{
	top: -5px;
	color: rgb(0, 70, 67);
}


.contrasena input:focus ~ label{
	top: -5px;
	color: rgb(128, 136, 255);
}


.contrasena_p{
	margin: -5px 0 20px 5px;
	color: rgb(0, 70, 67);
	cursor: pointer;
}

.contrasena_p a{
	cursor: pointer;
	color: rgb(1, 66, 64);
	text-decoration: none;
}

.contrasena_p a:hover{
	text-decoration: none;
}

button {
	width: 100%;
	height: 50px;
	border: 1px solid;
	background: rgb(1, 66, 64);
	border-radius: 25px;
	font-size: 10px;
	font-size: 18px;
	color: white;
	cursor: pointer;
	outline: none;
}

button:hover{
	border-color: purple;
	transition: .5s;
}


.registrarse{
	margin: 30px 0;
	text-align: center;
	font-size: 16px;
	color: black;
}

.registrarse a{
  	cursor: pointer;
	color: rgb(0, 70, 67);
	text-decoration: none;
}

.registrarse a:hover{
	text-decoration: underline;
}


/* Estilo predeterminado para los labels cuando el campo de entrada tiene texto */
.formulario .nombre label,
.formulario .contrasena label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: grey;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

/* Estilo para los labels cuando el campo de entrada no tiene texto */
.formulario .nombre input:placeholder-shown + label,
.formulario .contrasena input:placeholder-shown + label {
  top: 50%;
  left: 5px;
  color: grey;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

/* Estilo para ocultar completamente el texto del placeholder */
.formulario .nombre input:not(:placeholder-shown) + label,
.formulario .contrasena input:not(:placeholder-shown) + label {
  opacity: 0; /* Hace que el texto del placeholder sea completamente transparente */
}



  