<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <main>
    <!--Encabezado-->
    <header class="barra-superior">
        <div class= "logo-web">
          <button class="btn-usac"></button>
          <button class="btn-web">NECH</button>
        </div>
        <div class = "enlaces">
          <nav>
            <ul class="menu">
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Publicar</a></li>
              <li><a href="#">Fin</a></li>
            </ul>
          </nav>
        </div>
        <div class="opciones-usuario">
          <button class="btn-usuario"></button>      
        </div>
    </header>
    <!--Buscador-->
    <section class="espacio-buscador">
        <article class="contenedor-buscador">
            <input type="text" placeholder="Buscar...">
            <button class="btn-buscar"></button>
        </article>
        <aside class="espacio-filtro">
            <h2 class="tex-filtro">Filtros</h2>
            <button class="btn-todo">Todo</button>
            <button class="btn-curso">Curso</button>
            <button class="btn-catedratico">Catedratico</button>
        </aside>
    <!--Seccion de publicaciones-->    
    </section>
    <section class="espacio-publicaciones">
      
    </section>
  </main>  
</body>
</html>