<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra Superior con Botones Redondos</title>
</head>
<body>
   <header class="barra-superior">
      <button class="btn-logo">
        <img src="./logouuu.png" alt="Imagen de botón logo usac ">
      </button>
      <nav>
        <ul class="menu">
          <li><a href="#">Publicar</a></li>
        </ul>
      </nav>
      <button class="boton-redondo">
        <img src="./usuario.png" alt="Imagen de botón usuario">
      </button>
   </header>
   <!-- Contenido principal de la página -->
   <div class="contenido">
       <!-- Tu contenido aquí -->
   </div>
</body>
</html>