<body>
    <div class="formulario">
        <h2>Cambio de Contraseña</h2>
        <form method="post">
            <div class="carnet">
                 <input type="text" required>
                 <label>Carnet</label>
            </div>
            <div class="Correo">
                <input type="email" required>
                <label>Contraseña</label>
            </div>

            <div class="nueva">
                <input type="password" required>
                <label>Nueva Contraseña</label>
            </div>
            
            <button (click)="Cambiar()">Cambiar Contraseña</button>
        </form>

       
            
    </div>
    </body> 
    
