<body>
<div class="formulario">
        <h2>Registro</h2>
        <form method="post">
            <div class="carnet">
                <input type="text" required>
                <label>Registro académico</label>
            </div>

            <div class="nombre">
                 <input type="text" required>
                 <label>Nombre</label>
            </div>

            <div class="apellidos">
                 <input type="text" required>
                 <label>apellidos</label>
            </div>

            <div class="contrasena">
                <input type="password" required>
                <label>Contraseña</label>
            </div>

            <div class="correo">
                <input type="text" required>
                <label>Correo</label>
            </div>
            
            <button (click)="Cuenta()">Crear Cuenta</button>

        </form>
            
</div>
</body> 
