<body>
<div class="formulario">
        <h2>Registro</h2>
        <form method="post">
            <div class="carnet">
                <input type="text" required  placeholder="Registro académico">
                <label>Registro académico</label>
            </div>

            <div class="nombre">
                 <input type="text" required placeholder="Nombre">
                 <label>Nombres</label>
            </div>

            <div class="apellidos">
                 <input type="text" required placeholder="Apellidos">
                 <label>Apellidos</label>
            </div>

            <div class="contrasena">
                <input type="password" required placeholder="Contraseña">
                <label>Contraseña</label>
            </div>

            <div class="correo">
                <input type="text" required placeholder="Correo">
                <label>Correo</label>
            </div>
            
            <button (click)="Cuenta()">Crear Cuenta</button>
            <div class="registrarse">
                <a routerLink="/login">Iniciar sesion</a> <!-- se enlazan las paginas/componentes-->
            </div>

        </form>
            
</div>
</body> 
