<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <main>
    <!--Buscador de perfiles -->
    <section class="espacio-buscador">
        <article class="contenedor-buscador">
            <button class="btn-web">NECH</button>
            <input type="text" placeholder="Buscar perfil...">
            <button class="btn-buscar"></button>
        </article>
        <aside class="espacio-filtro">
            <button class="btn-usuario"></button>
        </aside>
    <!--Visualizacion de perfiles-->    
    </section>
    <section class="espacio-perfil">
        <div class="Nombre">
            <h3>Nombre</h3>
        </div>
        <div class="Apellidos">   
            <h3>Apellidos</h3>
        </div>
        <div class="Carnet">   
            <h3>Carnet</h3>
        </div>
        <div class="Correo">
            <h3>Correo</h3>
        </div>
    </section>
  </main>  
</body>
</html>