<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <main>
    <!--Buscador de perfiles -->
    <section class="espacio-buscador">
        <article class="contenedor-buscador">
            <button class="btn-web">NECH</button>
            <input type="text" name="carnet" placeholder="Buscar perfil..." [(ngModel)]="carnet">
            <button class="btn-buscar" (click)="mostrarperfil()"></button>
        </article>
        <aside class="espacio-filtro">
            <button class="btn-usuario"></button>
        </aside>
    <!--Visualizacion de perfiles-->    
    </section>
    <section class="espacio-perfil">
        <div class="Nombre">
            <h3>Nombre:</h3>
            <h4>{{perfil[0].nombre}}</h4>
        </div>
        <div class="Apellidos">   
            <h3>Apellido:</h3>
            <h4>{{perfil[0].apellido}}</h4>
        </div>
        <div class="Carnet">   
            <h3>Carnet:</h3>
            <h4>{{perfil[0].carnet}}</h4>
        </div>
        <div class="Correo">
            <h3>Correo:</h3>
            <h4>{{perfil[0].correo}}</h4>
        </div>
    </section>
  </main>  
</body>
</html>