/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

/* Estilo del encabezado */
header {
    background-color: #1877f2;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilo de los formularios */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de los campos de entrada y selección */
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo del botón */
button {
    background-color: #1877f2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilo de la lista de publicaciones */
#publicaciones {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de los elementos de la lista */
#publicaciones ul {
    list-style-type: none;
}

#publicaciones li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

/* Estilo de los títulos de las publicaciones */
#publicaciones h3 {
    color: #1877f2;
}

/* Estilo de los enlaces */
a {
    color: #1877f2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}